.login-container {
  padding-left: 15rem;
  padding-top: 4rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

label {
  margin-bottom: 1.5rem;
}

input {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}